---
---

@import "{{ site.theme }}";

.page-header {
  background: #616161;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

.footer {
  display: none !important;
}

.site-footer {
  display: none !important;
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #fec013!important;
}
